---
import BaseLayout from "../layout/BaseLayout.astro";
import { getPosts } from "../lib/api";
import PostCard from "../components/cards/PostCard";
import BannerSubscription from "../components/banners/BannerSubscriptions.astro";

const posts = await getPosts();
---

<BaseLayout subtitle="Accueil">
  <main class="overflow-scroll">
    <!-- <BannerSubscription /> -->
    <!-- Slider -->

    <!-- Derniers articles + ... -->
    <div class="home-background h-fit pt-6 md:pt-8 lg:pt-10 xl:pt-12 2xl:pt-14">
      <!-- List of last articles -->
      <section class="max-w-[1800px] m-auto h-fit px-2 sm:px-4 md:px-6 lg:px-8 xl:px-10">
        <h2 class="title tracking-tighter w-content text-8xl/[80px] md:text-9xl lg:text-[172px] xl:text-[196px] 2xl:text-[232px] mb-4 md:mb-2 lg:mb-4 xl:mb-4">Derniers articles</h2>
        <div class="flex flex-wrap justify-center items-start w-full gap-2 md:gap-3 xl:gap-4">
          {
            posts.map(({ title, excerpt, image, date, categories, slug }: any) => (
              <PostCard
                title={title}
                slug={slug}
                excerpt={excerpt}
                image={image}
                date={date}
                categories={categories}
                client:load
              />
            ))
          }
        </div>
      </section>
      <!-- Separation Wave -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1440 320"
        class="translate-y-1"
      >
        <path
          class="fill-black"
          d="M0,160L48,160C96,160,192,160,288,176C384,192,480,224,576,240C672,256,768,256,864,224C960,192,1056,128,1152,117.3C1248,107,1344,149,1392,170.7L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
        ></path>
      </svg>
    </div>

    <!-- Entretiens -->
    <div class="bloc second-bloc bg-black py-7">
      <section class="interviews">
        <h2 class="title text-white m-auto relative w-fit uppercase text-7xl sm:text-6xl md:text-9xl lg:text-[152px] xl:text-[200px]"> Entretiens</h2>
      </section>
    </div>
  </main>
</BaseLayout>

<style>
  .home-background {
    background-image: url("/img/stone-texture.png"), url("/img/frustration-wallpaper.webp");
    background-repeat: repeat, repeat;
    background-size: auto, cover;
  }

  h2.title {
    font-family: Bebas Neue;
    user-select: none;
  }
</style>
