---
import BaseLayout from "../layout/BaseLayout.astro";
import Footer from "../layout/Footer.astro";
import SwiperInterviews from "../components/swipers/SwiperInterviews.astro";
import { getPosts, getInterviews } from "../lib/api";
import { getImage } from "astro:assets";
import PostCardAstro from "../components/PostCard.astro";
import BannerSubscription from "../components/banners/BannerSubscriptions.astro";
import frustrationBackground from "./textures/frustration_wallpaper.webp";
const optimizedBackground = await getImage({ src: frustrationBackground, format: "webp", width: 1400 });
const backgroundUrl = `url(${optimizedBackground.src})`;
const posts = await getPosts();
const interviews = await getInterviews();
---

<BaseLayout>
  <main class="overflow-scroll">
    <BannerSubscription />
    <!-- Slider -->

    <!-- Derniers articles + ... -->
    <div class="home-background h-fit pt-6 md:pt-8 lg:pt-10 xl:pt-12 2xl:pt-14 overflow-hidden">
      <!-- List of last articles -->
      <section class="max-w-[1800px] m-auto h-fit px-2 sm:px-4 md:px-6 lg:px-8 xl:px-10">
        <h2 class="title tracking-tighter w-content text-8xl/[80px] md:text-9xl lg:text-[172px] xl:text-[196px] 2xl:text-[212px] mb-4 md:mb-2 lg:mb-4 xl:mb-4">Derniers articles</h2>
        <div class="flex flex-wrap justify-center items-start w-full gap-2 md:gap-3 xl:gap-4">
          {
            posts.map(({ title, author, excerpt, image, date, categories, slug }: any) => (
              <PostCardAstro
                title={title}
                author={author}
                slug={slug}
                excerpt={excerpt}
                image={image}
                date={date}
                categories={categories}
              />
            ))
          }
        </div>
      </section>
      <!-- Separation Wave -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1440 320"
        class="translate-y-1"
      >
        <path
          class="fill-black"
          d="M0,160L48,160C96,160,192,160,288,176C384,192,480,224,576,240C672,256,768,256,864,224C960,192,1056,128,1152,117.3C1248,107,1344,149,1392,170.7L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
        ></path>
      </svg>
    </div>

    <!-- Entretiens -->
    <div class="bg-black pt-7 pb-20 relative">
      <section class="interviews px-2">
        <h2 class="title text-white m-auto relative w-fit uppercase text-7xl sm:text-6xl md:text-9xl lg:text-[152px] xl:text-[200px] mb-2 lg:mb-8"> Entretiens</h2>
        <SwiperInterviews interviews={interviews} />
      </section>
      <!-- Line of triangles -->
      <div class="box"> </div>
      <style>
        .box {
          height: 50px;
          position: absolute;
          width: 100vw;
          bottom: -45px;
          background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 800 400" x="0px" y="0px" fill="black"><polygon points="400,400 800,33.299 0,33.299 "></polygon></svg>')
            center/auto 100%;
        }
      </style>
    </div>
    <!-- Footer -->
    <Footer />
  </main>
</BaseLayout>

<style define:vars={{ backgroundUrl }}>
  .home-background {
    background-color: #fff200;
    background-image: url("/img/stone-texture.png"), var(--backgroundUrl);
    background-repeat: repeat, repeat;
    background-size: auto, cover;
  }

  h2.title {
    font-family: Bebas Neue;
    user-select: none;
  }
</style>
